<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <title>{{ pagename }} - Simple votings</title>

        {% load bootstrap4 %}
        {% load static %}

        {% bootstrap_css %}
        {% block extra_css %} {% endblock %}
        <link href="https://getbootstrap.com/docs/4.1/examples/sticky-footer-navbar/sticky-footer-navbar.css"
              rel="stylesheet">
        <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}"/>
    </head>

    <body>
        <header>
            {% include 'base/menu.html' %}
        </header>

        <main role="main" class="container mt-4">
            {% bootstrap_messages %}
            {% block content %} {% endblock %}
        </main>

        <footer class="footer">
            {% block footer %}
                <div class="container text-right">
                    <span class="text-muted">&copy; подгруппа 00 группы ms104 promprog ШП 2019-20, {% now "Y" %}</span>
                </div>
            {% endblock %}
        </footer>

        {% bootstrap_javascript jquery='full' %}
        {% block extra_js %}{% endblock %}
    </body>
</html>