{% extends 'base/base.html' %}

{% load bootstrap4 %}


{% block content %}
<h1>Новая жалоба</h1><hr>
    <div class="row">
        <div class="col">
            {% if not voting_id %}
                <div class="h3 text-muted font-italic text-center">
                    Вообще-то тут не стоит находиться.<br>
                    <a href="{% url 'index' %}">Идити-ка отсюда</a>
                </div>
            {% else%}
                {% if not voting %}
                    <div class="h3 text-muted font-italic text-center">
                        Кажется, что-то пошло не так, и мы потеряли ваше голосование.<br>
                        <a href="{% url 'voting.list' %}">К списку</a>
                    </div>
                {% else %}
                    <h3 class="text-center">Новая жалоба на голосование «{{ voting.get_html|safe }}» автора {{ voting.author.get_html|safe }} от <a class="text-muted">{{ voting.date }}</a></h3>
                    <form action="{% url 'report.new' %}" method="post">
                        {% csrf_token %}

                        {% bootstrap_form form %}

                        <input type="hidden" name="voting_id" value="{{ voting_id }}">
                        <input type="submit" class="btn btn-primary float-right btn-block mt-4" value="Отправить">
                    </form>
                {% endif %}
            {% endif %}
        </div>
    </div>

{% endblock %}