{% load contains_tag %}

<div class="form-group" >
{% for f in form.vote %}
    <div class="custom-control custom-{{ form_type_text }}">
        {% if form.vote.initial and 'option'|str_add:forloop.counter0|contains:form.vote.initial %}
            <input type="{{ form_type_text }}" id="option{{forloop.counter}}" name="vote" value="option{{forloop.counter0}}" class="custom-control-input" checked disabled>
        {% else %}
            <input type="{{ form_type_text }}" id="option{{forloop.counter}}" name="vote" value="option{{forloop.counter0}}" class="custom-control-input" disabled>
        {% endif %}
        <label class="custom-control-label" for="option{{forloop.counter}}">{{ f.choice_label }}</label>
    </div>
{% endfor %}
</div>
