{% extends 'base/base.html' %}

{% block content %}
<div class="row">
    <div class="col">
        <h1>Список голосований — <strong>{{ page_obj.paginator.count }}</strong> активно</h1>
        <hr class="mb-4">
        {% if page_obj.object_list %}
            {% include 'base/paginator.html' %}
            {% for voting in page_obj %}
                {% include 'base/voting-card.html' with voting=voting %}
            {% endfor %}
            {% include 'base/paginator.html' %}
        {% else %}
            <dir class="text-muted text-center">
                <em class="h3">
                    Похоже, в данный момент нет активных голосований.<br>
                    <a href="{% url 'voting.new' %}">Хотите стать первым в этом списке?</a>
                </em>
            </dir>
        {% endif %}
    </div>
</div>
{% endblock %}
