{% extends 'base/base.html' %}

{% load bootstrap4 %}
{% load static %}


{% block extra_js %}
<script type='text/javascript' src="{% static 'scripts/formset.js' %}"></script>
{% endblock %}

{% block content %}
    {% if type_selected %}
        <h1>Назовите поля голосования</h1><hr>
        <div class="row">
            <div class="col">
                <form action="{% url 'voting.new' %}" method="post">
                    {% csrf_token %}
                    {% bootstrap_form voting_form %}

                    <h2 class="mt-4">Варианты ответов голосования</h2>
                    <hr>
                    {% bootstrap_formset_errors formset %}
                    {{ formset.management_form }}
                    {% for form in formset %}
                        <div class="row form-row spacer mb-2">
                            <div class="col-2">
                                <label>{% bootstrap_label form.text.label %}</label>
                            </div>
                            <div class="col">
                                <div class="input-group">
                                    {% bootstrap_field form.text show_label=False form_group_class='' %}
                                    {% if need_formset %}
                                        <div class="input-group-append">
                                            <a class="btn btn-success add-form-row text-white">+</a>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    <input type="hidden" name="type" value="{{ voting_type }}">
                    <input type="submit" class="btn btn-primary float-right btn-block mt-4" value="Создать!">
                </form>
            </div>
        </div>
    {% else %}
        <h1>Выберите тип голосования</h1><hr>
        <div class="row">
            <div class="col-6 offset-3">
                <form action="{% url 'voting.new' %}" method="get">
                    {% csrf_token %}
                    <div class="btn-group btn-group-toggle btn-block mt-3" data-toggle="buttons">
                        <label class="btn btn-info active">
                            <input type="radio" name="type" value="binary" autocomplete="off" checked>Бинарный
                        </label>
                        <label class="btn btn-info">
                            <input type="radio" name="type" value="radio" autocomplete="off">Радио
                        </label>
                        <label class="btn btn-info">
                            <input type="radio" name="type" value="combo" autocomplete="off">Комбо
                        </label>
                    </div>
                    <input type="submit" class="btn btn-primary float-right btn-block mt-4" value="Создать!">
                </form>
            </div>
        </div>
    {% endif %}
{% endblock %}
