{% load static %}
{% load icon_tag %}


<div class="tab-pane fade" id="v-pills-notifications" role="tabpanel" aria-labelledby="v-pills-notifications-tab">
    {% if not notifications %}
        <dir class="text-muted text-center h3 font-italic">Список уведомлений пуст.</dir>
    {% else %}
        {% for n in notifications %}
        <div class="card mb-2 border-primary">
            <div class="card-body">{% if n.icon %}{% icon n.icon size=28%} {% endif %}{{ n.html_text|safe }} <small class="text-muted float-right">{{ n.date }}</small></div>
        </div>
        {% endfor %}
    {% endif %}
</div>
