{% extends 'base/base.html' %}

{% load bootstrap4 %}


{% block content %}
<h1>Профиль — <strong>{{ request.user }}</strong></h1>
<hr>
<div class="row">
    <div class="col-3">
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab"
               aria-controls="v-pills-home" aria-selected="true">Общее</a>
            <a class="nav-link" id="v-pills-notifications-tab" data-toggle="pill" href="#v-pills-notifications" role="tab"
               aria-controls="v-pills-profile" aria-selected="false">Уведомления{% if unread_count %}<span class="badge badge-pill bg-light align-text-bottom float-right text-primary">{{ unread_count }}</span>{% endif %}</a>
            <a class="nav-link" id="v-pills-votings-tab" data-toggle="pill" href="#v-pills-votings" role="tab"
               aria-controls="v-pills-profile" aria-selected="false">Мои голосования{% if votings|length %}<span class="badge badge-pill bg-light align-text-bottom float-right text-primary">{{ votings|length }}</span>{% endif %}</a>
            <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab"
               aria-controls="v-pills-messages" aria-selected="false">Сообщения{% if reports|length %}<span class="badge badge-pill bg-light align-text-bottom float-right text-primary">{{ reports|length }}</span>{% endif %}</a>
        </div>
    </div>
    <div class="col-9">
        <div class="tab-content" id="v-pills-tabContent">
            {% include 'registration/profile/home.html' %}
            {% include 'registration/profile/notifications.html' %}
            {% include 'registration/profile/votings.html' %}
            {% include 'registration/profile/messages.html' %}
        </div>
    </div>
</div>
{% endblock %}