{% extends 'base/base.html' %}

{% block content %}
    <div class="row">
        <div class="col">
            {% if found %}
                <h1>Профиль — <strong>{{ user }}</strong></h1>
                <hr>
                <div class="media">
                        <div class="media-body">
                            <dl class="row">
                                <dt class="col-sm-5">Дата регистрации:</dt>
                                <dd class="col-sm-7">{{ user.date_joined }}</dd>
                                <dt class="col-sm-5">Последний вход:</dt>
                                <dd class="col-sm-7">{{ user.last_login }}</dd>
                                <dt class="col-sm-5 mt-2">Имя:</dt>
                                <dd class="col-sm-7 mt-2">{{ user.get_full_name|default:"<em class='text-muted'>пусто</em>" }}</dd>
                                <dt class="col-sm-5">Количество голосов:</dt>
                                <dd class="col-sm-7">{{ vote_count }}</dd>
                                <dt class="col-sm-5">Количество созданных голосований:</dt>
                                <dd class="col-sm-7">{{ voting_count }}</dd>
                            </dl>
                        </div>
                        <img src="{{ user.profile.avatar.url }}" width="300" alt="Аватар">
                    </div>
                    <hr>
                    <dl class="row">
                        <dt class="col-sm-3">О себе:</dt>
                        <dd class="col-sm-9">{{ user.profile.biography|default:"<em class='text-muted'>пусто</em>" }}</dd>
                    </dl>
            {% else %}
                <h1>Профиль не найден</h1>
                <hr>
                <h3 class="text-muted text-center">
                    <em>Пользователь не найдён.<br>
                        <a href="{% url 'index' %}">На главную</a>
                    </em>
                </h3>
            {% endif %}
        </div>
    </div>
{% endblock %}