<div class="tab-pane fade" id="v-pills-votings" role="tabpanel" aria-labelledby="v-pills-votings-tab">
    {% if not votings %}
        <dir class="text-muted text-center h3 font-italic">
            Похоже, у Вас нет своих голосований.<br>
            <a href="{% url 'voting.new' %}">Хотите создать новое?</a>
        </dir>
    {% endif %}
    {% for voting in votings %}
        {% include 'base/voting-card.html' with voting=voting %}
    {% endfor %}
</div>
