{% extends 'base/base.html' %}

{% load bootstrap4 %}

{% block content %}
    {% if next %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            Авторизируйтесь, чтобы продолжить.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}
    <h1>Авторизация <small>(vasya-promprog)</small></h1>
    <hr>

    <div class="row">
        <div class="col-4 offset-4">
            <form action="{% url 'user.login' %}" method="POST">
                {% csrf_token %}

                {% bootstrap_form form %}
                {% buttons %}
                    <button type="submit" class="btn btn-primary float-right btn-block">Войти</button>
                    <a class="btn btn-outline-primary text-center float-right btn-block" href="{% url 'password_reset' %}" role="button">Забыли пароль?</a>
                    <input type="hidden" name="next" value="{{ next }}" />
                {% endbuttons %}
            </form>
        </div>
    </div>
{% endblock %}
